#page_body{
  background-image: url(../img/bg2_1920x1200.jpg);
  background-size: cover;
  color: white;
}

.container{
  width: 70%;
  margin: auto;
}

#titolo{
  display: inline-block;
  font-size: 24px;
  vertical-align: top;
}

header{
  margin-top: 20px;
}

hr{
  border: 2px solid lighgrey;
}

#bottone{
  background-color: white;
  border-radius: 6px;
}

#numero{
  background-color: orange;
  padding: 10px;
  border-radius: 50%;
}

.riga{
  border: 1px solid black;
}

.letta{
  background-color: lightgrey;
}

.non_letta{
  background-color: white;
}

.oggetto_mail{
  display: inline-block;
  width: 20%;
  color: black;
}

.corpo_mail{
  display: inline-block;
  width: 79%;
  color: grey;
}

.foot{
  text-align: center;
  font-size: 14px;
}

#logo{
  font-size: 24px;
}
