#page_body{
  background-image: url(../img/bg2_1920x1200.jpg);
  background-size: cover;
  color: white;
}

.container{
  width: 60%;
  margin: auto;
}

#titolo{
  display: inline;
  font-size: 24px;
}

header{
  margin-top: 20px;
}

hr{
  border: 2px solid lighgrey;
}

#bottone{
  background-color: white;
  border-radius: 6px;
}

#numero{
  background-color: orange;
  padding: 10px;
  border-radius: 50%;
}
